<div class="container-2">
    <a (click)= "volverPpal()">&larr; Retornar</a>
</div>


<div class="containerx">
    <p class="texto-2">Fundamos la compañia en Medellín, en el cluster de moda reconocido a nivel internacional. Contamos con 30 años de experiencia en el mercado.<br></p>
    <p class="texto-2">Nos dedicamos al diseño, producción y comercialización de copas prehormadas para ropa interior y vestidos de baño</p>   
    <p class="texto-2">Buscamos la innovación por medio del desarrollo de nuestros productos y tenemos presencia con las marcas de ropa interior mas grandes de Colombia.</p>


    <div class="container-global">
        <div class="container1">
            <img src="assets/imagen b5.jpg" class="producto-imagen-1" />
        </div>

        <div class="container2">
            <p class="texto-2">Marcas que <span class="highlight-text">confian en nosotros:</span> </p>
            <div class="logo">
                <img src="assets/marcas/chamela-2.png" style="width: 250px; height: auto;" class="logo2"/>
                <img src="assets/marcas/z.-LOGO-ST.EVEN-Editable.png" style="width: 250px; height: auto;" class="logo2"/>
                <img src="assets/marcas/logo-tania-nuevo.png" style="width: 200px; height: auto;" class="logo2"/>
        </div>
        </div>
    </div>
</div>

    
