<footer>
    <div class="acerca">
        <h1 class="footer-fte">El Progreso</h1>
        <p class="clientes2">Principal   : Medellín - Colombia</p>
        <p class="clientes2">Headquarters: Quito - Ecuador</p>
        <p class="clientes2">Dirección Eloy Alfaro y Suiza</p>
        <p class="clientes2">
            <img src="/assets/tocar.png" alt="Ícono de celular" class="icono-celular">
            (+593)099 947 02 43
        </p>

        <p class="clientes2">
            <img src="/assets/correos-electronicos.png" alt="Ícono de correo electrónico" class="icono-correo">
            edinsoncolonia@gmail.com
        </p>
    
        <h1 class="footer-fte">Próximamente en:</h1>
        
        
        <p class="redes-sociales">
            <img src="/assets/footer/instagram.png" alt="instagram" class="redes"/>    
            Instagram
        </p>
        
        <p class="redes-sociales">
            <img src="/assets/footer/linkedin.png" alt="linkedin" class="redes"/>    
            LinkedIn
        </p>


    </div>
    <div class="footer-final">
        <p> &copy; Copyright 2023 | Todos los derechos reservados Sitio web desarrollado por ECOLONIA studio Ecuador</p>
    </div>
</footer>