
.container {
  background-color: rgb(0, 114, 214);
  padding-top: 1px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-desarrollo {
  color: white;
  margin: 10px 0; 
  font-size: 18px; 
}

.highlight-text {
  color:yellow;
  font-weight: bolder;
  font-size: 18px; 
}

/* pantallas grandes  */
@media screen and (min-width: 768px) {


  .footer-desarrollo {
    text-align: center;
    font-size: 24px; 
    margin: 10px 0; 
  }

  .highlight-text {
    font-size: 24px; 
  }
}

/* portátiles */
@media screen and (max-width: 768px) {
  .container {
    height: 100%;
  }

  .footer-desarrollo {
    font-size: 20px; 
    margin: 5px 0; 
  }

  .highlight-text {
    font-size: 20px; 
  }
}
