.selection-message h2{
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    position: relative;
    top: -50px; /* Ajusta la posición vertical según tu preferencia */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    margin-left: 4px;
  }

  .selection-message p{
    color: white; /* Color del texto */
    text-align: left; /* Centra el texto horizontalmente */
    position: relative;
    top: -180px; /* Ajusta la posición vertical según tu preferencia */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    margin-left: 4px;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 10px;
    /*mensaje prueba*/
  }
  
  .container {
    background-color: rgb(0, 114, 214);
    width: 100%;
    max-width: 375px; /* Ancho máximo para simular un teléfono móvil */
    height: 100vh; /* Alto de la pantalla del teléfono móvil */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: left; /* Centra horizontalmente */
    
  }
  
  /* Estilos para las cajas */
  .box {
    display: flex;
    font-size: 18px;
    color: white;
    width: 150px;
    height: 100px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 134, 251, 0.9);
    
  }
  
  /* Estilos para las filas */
  .row {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos en la fila */
    gap: 1px;
  }
  
  .highlight-text {
    color: yellow;
  }

.left-align{
    margin-left: 20px;
    color: white;
}
  
  