
<div class="container">
    
    <div class="selection-message">
        <p>SOLIDO (I)</p>
        <h2>Ayudamos a marcas a generar <span class="highlight-text">belleza</span> para la mujer</h2>
      
      
    </div>

    <div class="selection-option">
        <div class="left-align-container">
          <p class="left-align">Elige una opción</p>
        </div>
      </div>

    
    <div class="row">
        <div class="box">Realce</div>
        <div class="box">Sin realce</div>
    </div>
    <div class="row">
      <div class="box">Nosotros</div>
      <div class="box">Contactanos</div>
    </div>
  </div>
  