<div class="container-2">
    <a (click)= "volverPpal()">&larr; Retornar</a>
</div>


    <div class="container">
   
        <p>Principal : Medellín - Colombia</p>
        <p>Headquarters: Quito - Ecuador</p>
        <p>Dirección Eloy Alfaro y Suiza</p>
        <p>
            <img src="assets/llamada-de-telefono-inteligente.png" alt="Ícono de celular" class="icono-contact">
            (+593) 099 947 02 43
        </p>

        <p>
            <img src="assets/gmail.png" alt="Ícono de correo electrónico" class="icono-contact">
            edinsoncolonia@gmail.com
        </p>
        
        <h1>Estamos en línea:</h1>
        <div class="container-whatsapp">
            
            <a (click)="abrirWhatsApp()">
                <img src="assets/whatsapp.png" alt="Ícono de WhatsApp" class="icono-contact-2">
                Contactar ahora
            </a>
        </div>
        

    </div>


